* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-ffd333: #ffd333;
}

body {
  font-family: Roboto, sans-serif !important;
}

/* Main Layout Component */
.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider-children > .logo {
  height: 32px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: white;
}

/* Authentication Components */
.authentication-wrapper {
  background-color: var(--color-ffd333);
  min-height: 100vh;
}

.authentication-form > button {
  background-color: var(--color-ffd333);
  text-decoration: none;
}
